{% extends "layouts/base.twig" %}
{% block title %}home{% endblock %}
{% block head %}

{% endblock head %}

{% block content %}
    <div>
        <ul class="important" style="">
            <li>
                <a href="/stock/match-notify"> Warehouse information [Eshop (woocommerce) - Oxygen]</a>
            </li>
        </ul>
    </div>
{% endblock %}
