{% extends "layouts/base.twig" %}
{% block title %}home{% endblock %}
{% block head %}

{% endblock head %}

{% block content %}
    <div>
        <ul class="important" style="">
            <li>
                <div>
                    <a href="/stock/match-notify" class="trigger-loading"> Warehouse information [Eshop (woocommerce) - Oxygen]</a>
                </div>
                <div>
                    <a href="/warehouse/skroutz" class="trigger-loading"> Warehouse skroutz information</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
