body {
    background: #fff;
}

.stock-container {
    box-shadow: 0 0 10px 1px #eeeeee;
}

.text-center {
    text-align: center;
}

.blue {
    color: blue;
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: red;
}

.low_profit {
    font-weight: 900;
    color: red;
}

.normal_profit {
    font-weight: 900;
    color: greenyellow;
}

.margin-1 {
    margin: 1px;
}

.margin-2 {
    margin: 2px;
}

.margin-3 {
    margin: 3px;
}

.padding-1 {
    padding: 1px;
}

.padding-2 {
    padding: 2px;
}

.padding-3 {
    padding: 3px;
}

.padding-4 {
    padding: 4px;
}

.flex {
    display: flex
}
.column-gap-5 {
    column-gap: 5px;
}

.align-items-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.has-border-1 {
    border: 1px solid;
}

.has-border-bottom-1 {
    border-bottom: 1px solid;
}

.has-border-top-1 {
    border-top: 1px solid;
}

.has-border-2 {
    border: 2px solid;
}

.has-border-bottom-2 {
    border-bottom: 2px solid;
}

.has-border-top-2 {
    border-top: 2px solid;
}

.border-color-lightgrey {
    border-color: lightgrey;
}

.border-radius-2 {
    border-radius: 2px;
}

.border-radius-4 {
    border-radius: 4px;
}

.box-shadow-basic-inset {
    box-shadow: 0 0 10px 1px #eeeeee inset;
}

.box-shadow-basic {
    box-shadow: 0 0 10px 1px #eeeeee;
}